<div class="container mt-5">
    <div class="row">
        <h3 class="card-title">Category List</h3>
        <div class="col-md-10">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button
                      class="accordion-button"
                      type="button"
                      data-mdb-toggle="collapse"
                      data-mdb-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne"
                    >
                      Favourites
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-mdb-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="list-group">
                            <label>
                                <i class="fs-4 bi bi-person-circle"></i>
                                <span class="ms-1 d-none d-sm-inline">October Hackathon</span>
                            </label>
                        </div>
                        <div class="list-group">
                            <label>
                                <i class="fs-4 bi bi-person-circle"></i>
                                <span class="ms-1 d-none d-sm-inline">My Personal Space</span>
                            </label>
                        </div>
                        <div class="list-group">
                            <label>
                                <i class="fs-4 bi bi-person-circle"></i>
                                <span class="ms-1 d-none d-sm-inline">Salonie Samarwal</span>
                            </label>
                        </div>
                        <div class="list-group">
                            <label>
                                <i class="fs-4 bi bi-person-circle"></i>
                                <span class="ms-1 d-none d-sm-inline">Vinjarapu Rahul</span>
                            </label>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button
                        class="accordion-button"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                      >
                        Discussion Space
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-mdb-parent="#accordionExample">
                      <div class="accordion-body">
                        <div class="list-group">
                            <label>
                                <i class="fs-4 bi bi-person-circle"></i>
                                <span class="ms-1 d-none d-sm-inline">Cisco Chennai - CHN09</span>
                            </label>
                        </div>
                        <div class="list-group">
                            <label>
                                <i class="fs-4 bi bi-person-circle"></i>
                                <span class="ms-1 d-none d-sm-inline">Cisco Chennai - CH09 Announcement</span>
                            </label>
                        </div>
                        <div class="list-group">
                            <label>
                                <i class="fs-4 bi bi-person-circle"></i>
                                <span class="ms-1 d-none d-sm-inline">Emerging Talent @Cisco | ETC India</span>
                            </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button
                        class="accordion-button"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                      >
                        Incidents
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-mdb-parent="#accordionExample">
                      <div class="accordion-body">
                        <div class="list-group">
                            <label>
                                <i class="fs-4 bi bi-person-circle"></i>
                                <span class="ms-1 d-none d-sm-inline">INC0047392: (monitoring) On Net Dial in E2E test failures between WxC AU and WxM ANZ                                </span>
                            </label>
                        </div>
                        <div class="list-group">
                            <label>
                                <i class="fs-4 bi bi-person-circle"></i>
                                <span class="ms-1 d-none d-sm-inline">INC0047392: (restored) EUN Dubber Call Recording Down due to Dubber maintenance</span>
                            </label>
                        </div>
                        <div class="list-group">
                            <label>
                                <i class="fs-4 bi bi-person-circle"></i>
                                <span class="ms-1 d-none d-sm-inline">INC0047392: (monitoring) some SG VM can't ping and access</span>
                            </label>
                        </div>
                        <div class="list-group">
                            <label>
                                <i class="fs-4 bi bi-person-circle"></i>
                                <span class="ms-1 d-none d-sm-inline">INC0047491: (Monitoring) Multiple services in AFRA impacted due to flapping reverse proxy</span>
                            </label>
                        </div>
                      </div>
                    </div>
                  </div>



                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button
                        class="accordion-button"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                      >
                        Demo Category
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-mdb-parent="#accordionExample">
                      <div class="accordion-body">
                        <div class="list-group">
                            <label>
                                <i class="fs-4 bi bi-person-circle"></i>
                                <span class="ms-1 d-none d-sm-inline">Group 1</span>
                            </label>
                        </div>
                        <div class="list-group">
                            <label>
                                <i class="fs-4 bi bi-person-circle"></i>
                                <span class="ms-1 d-none d-sm-inline">Group 2</span>
                            </label>
                        </div>
                      </div>
                    </div>
                  </div>


                  
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button
                        class="accordion-button"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                      >
                        Other
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-mdb-parent="#accordionExample">
                      <div class="accordion-body">
                        <div class="list-group">
                            <label>
                                <i class="fs-4 bi bi-person-circle"></i>
                                <span class="ms-1 d-none d-sm-inline">Innovation@Cisco</span>
                            </label>
                        </div>
                        <div class="list-group">
                            <label>
                                <i class="fs-4 bi bi-person-circle"></i>
                                <span class="ms-1 d-none d-sm-inline">WebDev CodeFest Announcement Space</span>
                            </label>
                        </div>
                        <div class="list-group">
                            <label>
                                <i class="fs-4 bi bi-person-circle"></i>
                                <span class="ms-1 d-none d-sm-inline">The Literati Club</span>
                            </label>
                        </div>
                        <div class="list-group">
                            <label>
                                <i class="fs-4 bi bi-person-circle"></i>
                                <span class="ms-1 d-none d-sm-inline">Wellbeingatcisco</span>
                            </label>
                        </div>
                        <div class="list-group">
                            <label>
                                <i class="fs-4 bi bi-person-circle"></i>
                                <span class="ms-1 d-none d-sm-inline">People and Communities</span>
                            </label>
                        </div>
                        <div class="list-group">
                            <label>
                                <i class="fs-4 bi bi-person-circle"></i>
                                <span class="ms-1 d-none d-sm-inline">BackToBusiness India</span>
                            </label>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
        </div>
    </div>
</div>